@model Models.ViewModels.VehiclesIndex
@{
    ViewData["Title"] = "Vehicles list";
}

<div class="text-center">
    <h3>Select Vehicle from list to display it's details</h3>
    
    <ul>
        @foreach(var v in Model.Vehicles)
        {
            <li><a href="Details/@v.Id"><b>@v.VehicleName</b></a> (@v.VehicleType)</li>
        }

    </ul>
</div>