html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

th {
    padding: 0.5rem;
}
td{
    padding: 0.5rem;
}

ul {
    list-style-type: none;
    text-align: start;
}